@import "@fontsource/coming-soon";

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 51; /* Yellow text color */
  --background-rgb: 38, 67, 125; /* Blue background color */
  --button-bg-color: #1e3260; /* Button background color */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coming Soon", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

canvas {
  background-color: rgb(var(--background-rgb));
}

/* Ensure text wraps at spaces */
* {
  word-wrap: break-word;
}

/* Specific class for the CA line to break at characters */
.ca-line {
  word-break: break-all;
}

/* Ensure the main container does not cause horizontal scrolling */
main {
  max-width: 95%;
  margin: 0 auto;
}

.pdf-loading-text {
  background-color: rgb(var(--background-rgb));
  font-family: 'Coming Soon', cursive;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(var(--foreground-rgb));
}

.pdf-button {
  background-color: var(--button-bg-color);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
