@import "@fontsource/coming-soon"; /* Import the Google Font */

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White text color */
  --background-rgb: 38, 67, 125; /* Blue background color */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coming Soon", cursive; /* Apply the Google Font */
}

/* Ensure text wraps at spaces */
* {
  word-wrap: break-word;
}

/* Specific class for the CA line to break at characters */
.ca-line {
  word-break: break-all;
}

/* Ensure the main container does not cause horizontal scrolling */
main {
  max-width: 95%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
